nav {
  width: 100%;
  background-color: black;
  color: white;
  border: 5px solid black;
}
button {
  background-color: black;
  color: white;
  padding: 5px 30px;
}
img {
  width: 700px;
}
* {
  box-sizing: border-box;
}
